.backButton {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backButton:hover {
    filter: drop-shadow(2px 2px 2px gray);
    cursor: pointer;
}

.backIcon {
    color: gray;
    font-size: 38px;
}